@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratRegular.otf') format('opentype'),
    url('../fonts/MotnserratRegular.ttf')  format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/MontserratBold.otf') format('opentype'),
    url('../fonts/MontserratBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro.otf') format('opentype'),
    url('../fonts/MyriadPro.ttf')  format('truetype');
  font-style: normal;    
}
